<% include include/header.html %>
<div id="sensorsContainer">

</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Log</h4>
    </div>
    <div class="panel-body" id="output" style="height:200px;overflow-y:scroll"></div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(init);


    let dataMap = new Map();
    let divMap = new Map();
    let lineDataMap = new Map();
    let lineChartMap = new Map();
    let lockMap = new Map();

    let options_line = {
        legend: 'none',
        curveType: 'function',
        hAxis: {
            title: 'Time',
            maxValue: 0,
            minValue: -10,
            viewWindowMode: 'explicit',
            gridlines: { count: 6 },
            viewWindow: {
                min: -10,
                max: 0
            },

        ticks: [{ v: 0, f: 'current' }, { v: -5, f: '5s ago' },{ v: -10, f: '10s ago ' }]
        },

    var options_gauge = {
        yih: {
            redFrom: 70,
            redTo: 100,
            yellowFrom: 40,
            yellowTo: 70,
            greenFrom: 0,
            greenTo: 40,
            minorTicks: 5,
            min: 0,
            max: 100
        },
        vqY: {
            redFrom: 70,
            redTo: 100,
            yellowFrom: 40,
            yellowTo: 70,
            greenFrom: 0,
            greenTo: 40,
            minorTicks: 5,
            min: 0,
            max: 100
        },
        xDM: {
            redFrom: 70,
            redTo: 100,
            yellowFrom: 40,
            yellowTo: 70,
            greenFrom: 0,
            greenTo: 40,
            minorTicks: 5,
            min: 0,
            max: 100
        },
        tkw: {
            redFrom: 70,
            redTo: 100,
            yellowFrom: 40,
            yellowTo: 70,
            greenFrom: 0,
            greenTo: 40,
            minorTicks: 5,
            min: 0,
            max: 100
        },
        AccX: {
            redFrom: 3,
            redTo: 5,
            greenFrom: -5,
            greenTo: -3,
            yellowFrom: -3,
            yellowTo: 2,
            minorTicks: 3,
            min: -5,
            max: 5
        }
    };


    function initSensor(sensorResponse) {
        //console.log(sensorResponse);
        let _id = sensorResponse.UID;
        let _type = sensorResponse.type;

        if (dataMap.get(_id) == undefined)
            dataMap.set(_id, []);


        let lchartID = "sensor_" + _id + "_lchart";

        var t = document.querySelector('#sensorReadingTemplate');
        var clone = document.importNode(t.content, true);

        clone.querySelector('#sensorName').textContent = _type;
        clone.querySelector('#sensorID').textContent = sensorResponse.id;
        clone.querySelector('#sensor_x_lchart').id = lchartID;
        document.querySelector('#sensorsContainer').appendChild(clone);

        let label = undefined;
        let label_unit = sensorResponse.unit;
        switch (sensorResponse.type) {
            case 'Temperature Sensor':
                label = "Temperature";
                break;
            case 'Ambient Sensor':
                label = "Light";
                break;
            case 'Humidity Sensor':
                label = "Humidity";
                break;
            case 'Sound Intensity Sensor':
                label = "Sound";
                break;
            case 'Accelerometer Sensor':
                label = "Accelerometer";
                break;
            case 'Accelerometer':
                label = "x-inertia";
                break;
            default:
                label = "Unknown ";
        }


        lockMap.set(_id, true);

        let data_line = new google.visualization.DataTable();
        data_line.addColumn('datetime', 'Timestamp');
        data_line.addColumn('number', label_unit);
        let linechart = new google.visualization.LineChart(document.getElementById(lchartID));
        linechart.draw(data_line, options_line);

        lineDataMap.set(_id, data_line);
        lineChartMap.set(_id, linechart);

        google.visualization.events.addListener(linechart, 'error', errorHandler);
        google.visualization.events.addListener(linechart, 'ready', () => lockMap.set(_id, true));




    }


    var wsUri = "ws://localhost:8082";
    console.log(wsUri);
    var output;
    var num_sensors = 0;
    var websocket;

    function init() {
        output = document.getElementById("output");
        console.log("inside ws received");
        initWebSocket();

    }

    function errorHandler(error) {
        console.log(JSON.stringify(error));
        google.visualization.errors.removeError(error.UID);
        // console.log("ERROR: " + error.message + " :: " + error.detailedMessage + " :: " + JSON.stringify(error.options))
        google.visualization.errors.addError(output, error.message, error.detailedMessage, error.options);
    }

    function updateChart(data) {

        dataMap.get(data.UID).push([new Date(data.timestamp), data.reading]);

        if (lockMap.get(data.UID)) {//check if the chart is ready
            let now = new Date();
            let newData = dataMap.get(data.UID).
                filter(i => (now - i[0]) < 20000).
            map(i => [-1 * (now - i[0]) / 1000, i[1]]);
            // newData.unshift(["Timestamp", "Units"]);

            let data1 = new google.visualization.DataTable();
            data1.addColumn('number', 'Seconds ago');
            data1.addColumn('number', data.unit);
            data1.addRows(newData);

            var formatter = new google.visualization.NumberFormat({ suffix: ' secs' });
            var unitFormatter = new google.visualization.NumberFormat({ suffix: data.unit });
            formatter.format(data1, 0); // Apply formatter to first column
            unitFormatter.format(data1, 1); // Apply formatter to second column

            options_line.vAxis = { title: data.unit };


            let l_chart = lineChartMap.get(data.UID);
            l_chart.draw(data1, options_line);
        }
    }

    function initWebSocket() {

        console.log("inside initWebsocket");
        websocket = new WebSocket("ws://localhost:8082");
        console.log("websocket created");
        websocket.onopen = function (evt) {
            onOpen(evt)
        };
        websocket.onclose = function (evt) {
            onClose(evt)
        };
        websocket.onmessage = function (evt) {
            onMessage(evt)
        };
        websocket.onerror = function (evt) {
            onError(evt)
        };
    }

    function onOpen(evt) {
        writeToScreen("CONNECTED");
        doSend("WebSocket Connected");
    }

    function onClose(evt) {
        writeToScreen("DISCONNECTED");
    }

    function onMessage(evt) {
        console.log("inside Message received");
        dataRec = evt.data;
        dataRec_parsed = JSON.parse(evt.data);
        if (dataMap.get(dataRec_parsed.UID) == undefined) {
            // dataMap.set(dataRec.id, []);
            console.log("Not found! ");
            initSensor(dataRec_parsed);
        }

        updateChart(dataRec_parsed);
        writeToScreen(dataRec);
    }

    function onError(evt) {
        writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
    }

    function doSend(message) {
//        writeToScreen("SENT: " + message);
        websocket.send(message);
    }

    function writeToScreen(message) {
        var pre = document.createElement("code");
        let output = document.getElementById("output")
        pre.style.wordWrap = "break-word";
        pre.innerHTML = "<br/>" + message;
        output.appendChild(pre);
        output.scrollTop = output.scrollHeight;
    }

    // window.addEventListener("load", init, false);
</script>
<% include include/footer.html %>
