<% include include/header.html %>
<div id="sensorsContainer">

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(init);


    let dataMap = new Map();
    let lineDataMap = new Map();
    let lineChartMap = new Map();
    let checkIDMap = new Map();

    let options_line = {
        legend: 'none',
        curveType: 'function',
        hAxis: {
            title: 'Time',
            maxValue: 20,
            minValue: 0,
            viewWindowMode: 'explicit',
            gridlines: { count: 6 },
            viewWindow: {
                min: 0,
                max: 20
            },

            ticks: [{ v: 0, f: 'current' }, { v: 5, f: '5s ago' },{ v: 10, f: '10s ago ' },{ v: 15, f: '15s ago' },{ v: 20, f: '20s ago ' }]
        },

        height: 250
    };


    function initializeSensors(sensorResponse) {
        //console.log(sensorResponse);
        let _id = sensorResponse.UID;
        let _type = sensorResponse.type;

        if (dataMap.get(_id) == undefined)
            dataMap.set(_id, []);


        let lchartID = "sensor_" + _id + "_lchart";

        var t = document.querySelector('#sensorReadingTemplate');
        var create = document.importNode(t.content, true);

        create.querySelector('#sensorType').textContent = _type;
        create.querySelector('#sensorID').textContent = sensorResponse.id;
        create.querySelector('#sensor_x_lchart').id = lchartID;
        document.querySelector('#sensorsContainer').appendChild(create);

        let unit = sensorResponse.unit;


        checkIDMap.set(_id, true);

        let lineChartData = new google.visualization.DataTable();
        lineChartData.addColumn('datetime', 'Timestamp');
        lineChartData.addColumn('number', unit);
        let linechart = new google.visualization.LineChart(document.getElementById(lchartID));
        linechart.draw(lineChartData, options_line);

        lineDataMap.set(_id, lineChartData);
        lineChartMap.set(_id, linechart);

        google.visualization.events.addListener(linechart, 'error', errorHandler);
        google.visualization.events.addListener(linechart, 'ready', () => checkIDMap.set(_id, true));




    }


    var wsUri = "ws://localhost:8082";
    console.log(wsUri);
    var output;
    var num_sensors = 0;
    var websocket;

    function init() {
        output = document.getElementById("output");
        console.log("inside ws received");
        clientWebSocket();

    }

    function errorHandler(error) {
        console.log(JSON.stringify(error));
        google.visualization.errors.removeError(error.UID);
        google.visualization.errors.addError(output, error.message, error.detailedMessage, error.options);
    }

    function dynamicChart(data) {

        dataMap.get(data.UID).push([new Date(data.timestamp), data.reading]);

        if (checkIDMap.get(data.UID)) {//check if the chart is ready
            let current = new Date();
            let currentData = dataMap.get(data.UID).
            filter(i => (current - i[0]) < 20000).
            map(i => [(current - i[0]) / 1000, i[1]]);

            let data1 = new google.visualization.DataTable();
            data1.addColumn('number', 'Seconds ago');
            data1.addColumn('number', data.unit);
            data1.addRows(currentData);

            var formatter = new google.visualization.NumberFormat({ suffix: ' secs' });
            var unitFormatter = new google.visualization.NumberFormat({ suffix: data.unit });
            formatter.format(data1, 0);
            unitFormatter.format(data1, 1);

            options_line.vAxis = { title: data.unit };


            let l_chart = lineChartMap.get(data.UID);
            l_chart.draw(data1, options_line);
        }
    }

    function clientWebSocket() {

        console.log("inside initWebsocket");
        websocket = new WebSocket("ws://localhost:8082");
        console.log("websocket created");
        websocket.onopen = function (evt) {
            outputToScreen("CONNECTED");
            doSend("WebSocket Connected");
        };
        websocket.onclose = function (evt) {
            outputToScreen("DISCONNECTED");
        };
        websocket.onmessage = function (evt) {
            console.log("inside Message received");
            dataRec = evt.data;
            dataRec_parsed = JSON.parse(evt.data);
            if (dataMap.get(dataRec_parsed.UID) == undefined) {
                console.log("Not found! ");
                initializeSensors(dataRec_parsed);
            }

            dynamicChart(dataRec_parsed);
            outputToScreen(dataRec);
        };
        websocket.onerror = function (evt) {
            outputToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
        };
    }

    function doSend(message) {
        outputToScreen("SENT: " + message);
        websocket.send(message);
    }

    function outputToScreen(message) {
        var pre = document.createElement("code");
        let output = document.getElementById("output")
        pre.style.wordWrap = "break-word";
        pre.innerHTML = "<br/>" + message;
        output.appendChild(pre);
        output.scrollTop = output.scrollHeight;
    }
</script>
<template id="sensorReadingTemplate">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6 column">
                <div class="panel panel-primary">
                    <div class="panel-heading"> <h3>Sensor Readings</h3></div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <th>Name:</th>
                                <td id="sensorType"></td>
                            </tr>

                            <tr>
                                <th>ID:</th>
                                <td id="sensorID"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 column-chart">
                <h3>Line Chart for Sensor Reading</h3>

                <div id="sensor_x_lchart"></div>
            </div>
        </div>
    </div>
</template>
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h4>Log</h4>-->
<!--</div>-->
<!--<div class="panel-body" id="output" ></div>-->
<!--</div>-->
<% include include/footer.html %>